<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Platos y Menús | REMY 1.0</title>
    
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/platos_menu.css">
    <script src="../static/js/platos_menu.js"></script>

</head>
<body id="cuerpo_platos_menu">
    <main id="gran_cont_ppal">
        <aside id="barra_lateral_nav">
            <figure id="marca_remy_lat">
                <img src="../static/img/remy_green.png" alt="REMY Logo">
            </figure>
            
            <nav id="menu_iconos_lat">
                <a href="/eventos" class="btn-ico-lat" title="Eventos">
                    <svg id="Layer_1" style="enable-background:new 0 0 256 256;" version="1.1" viewBox="0 0 256 256" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g>
                            <path d="M97.1,170l-3.9,22.9c-0.6,3.7,0.9,7.4,3.9,9.6c1.7,1.3,3.7,1.9,5.8,1.9c1.6,0,3.1-0.4,4.6-1.1l20.6-10.8l20.6,10.8   c3.3,1.8,7.3,1.5,10.4-0.7c3.1-2.2,4.6-5.9,3.9-9.6l-3.9-22.9l16.6-16.2c2.7-2.6,3.7-6.5,2.5-10.1c-1.2-3.6-4.2-6.2-7.9-6.7   l-23-3.3l-10.3-20.8c-1.7-3.4-5.1-5.5-8.8-5.5c-3.8,0-7.2,2.1-8.8,5.5l-10.3,20.8l-23,3.3c-3.7,0.5-6.8,3.1-7.9,6.7   c-1.2,3.6-0.2,7.5,2.5,10.1L97.1,170z M112.9,143.1c1.6-0.2,3-1.3,3.7-2.7l11.3-23.2l11.4,23.2c0.7,1.5,2.1,2.5,3.7,2.7l25.5,3.6   l-18.4,18c-1.2,1.1-1.7,2.8-1.4,4.4l4.5,25.4l-22.9-12c-1.4-0.8-3.2-0.8-4.6,0L103,194.5l4.4-25.5c0.3-1.6-0.3-3.3-1.4-4.4   l-18.6-17.9L112.9,143.1z"/>
                            <path d="M234.5,35.8h-28v-15c0-2.7-2.2-5-5-5s-5,2.2-5,5v15H59.5v-15c0-2.7-2.2-5-5-5c-2.7,0-5,2.2-5,5v15h-28   c-8.7,0-15.7,7-15.7,15.7v24.9c0,0,0,0,0,0v148.1c0,8.7,7,15.7,15.7,15.7h213c8.7,0,15.7-7,15.7-15.7V76.4c0,0,0,0,0,0V51.5   C250.2,42.8,243.1,35.8,234.5,35.8z M240.3,224.5c0,3.2-2.6,5.8-5.8,5.8h-213c-3.2,0-5.8-2.6-5.8-5.8V81.4h224.5V224.5z    M240.3,71.5H15.7V51.5c0-3.2,2.6-5.8,5.8-5.8h213c3.2,0,5.8,2.6,5.8,5.8V71.5z"/>
                        </g>
                    </svg>
                </a>
                <a href="/liderazgo" class="btn-ico-lat" title="Liderazgo">
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="0 0 54.201 54.201" style="enable-background:new 0 0 54.201 54.201;" xml:space="preserve">
                        <g>
                            <path d="M49.812,8.404c-1.422-1.727-4.565-2.475-9.29-2.225h-3.593c0.229-0.459,0.405-0.994,0.426-1.576
                                c0.03-0.875-0.306-1.701-0.972-2.391c-1.417-1.468-3.429-2.052-8.041-2.182C28.292,0.022,28.245,0,28.192,0
                                c-0.305,0-0.596,0.004-0.888,0.009C26.89,0.004,26.462,0,26.009,0c-0.108,0-0.209,0.027-0.305,0.062
                                c-4.762,0.245-7.422,1.246-8.29,3.102c-0.567,1.213-0.522,2.23-0.219,3.016l-3.47,0.002C8.952,5.922,5.811,6.678,4.39,8.402
                                c-0.894,1.085-0.807,2.173-0.744,2.539c0.057,1.224,1.304,27.983,1.609,34.279c0.385,7.927,4.854,8.776,5.863,8.867
                                c0.128,0.067,0.265,0.113,0.412,0.113h16.093h0.305h14.744c0.094,0,0.182-0.028,0.27-0.055c0.094,0.033,0.194,0.055,0.298,0.055
                                c0.035,0,0.07-0.002,0.105-0.006c0.055-0.006,5.464-0.721,5.825-7.84c0.324-6.378,1.34-34.139,1.386-35.417
                                C50.618,10.569,50.702,9.484,49.812,8.404z M47.516,43.112c-0.092-0.016-0.186-0.029-0.284-0.014l-4.063,0.591
                                c-0.259-8.5-0.345-20.15,0.926-23.964c1.249-3.744,3.26-5.96,4.598-7.098C48.488,18.168,47.864,35.012,47.516,43.112z
                                M19.045,3.926c0.355-0.759,1.926-2.01,8.287-2.115c5.235,0.077,6.77,0.632,7.756,1.652c0.326,0.338,0.479,0.69,0.468,1.072
                                c-0.02,0.651-0.495,1.314-0.818,1.675c-4.523,0.366-5.018,1.215-5.179,1.499c-0.235,0.414-0.244,0.971-0.258,1.895
                                c-0.026,1.713-0.065,4.303-1.697,5.478c-0.303,0.218-0.73,0.401-1.226,0.555c0.018-2.137-0.152-6.811-1.922-8.193
                                c-1.718-1.34-4.221-1.34-5.147-1.287C18.987,5.881,18.453,5.194,19.045,3.926z M10.941,43.716l-3.983-0.579
                                c-0.336-7.07-1.105-23.528-1.398-29.824c1.775,2.1,4.428,5.672,5.089,8.947C11.272,25.356,11.145,35.798,10.941,43.716z
                                M7.053,45.133c-0.002-0.05-0.005-0.112-0.008-0.164l3.847,0.56c-0.083,2.913-0.169,5.319-0.219,6.638
                                C9.538,51.795,7.308,50.399,7.053,45.133z M12.412,21.904c-1.004-4.98-5.859-10.273-7.001-11.461
                                c0.011-0.213,0.084-0.568,0.402-0.935c0.604-0.693,2.426-1.812,7.866-1.527h5.375c0.022,0,0.042-0.009,0.064-0.011
                                c0.014-0.001,0.026,0.005,0.04,0.003c0.738-0.082,2.929-0.094,4.19,0.891c0.865,0.675,1.293,4.163,1.223,7.177
                                c-1.688,0.271-3.534,0.35-4.442,0.35c0,0,0,0-0.001,0c-0.238,0-0.468,0.094-0.637,0.264c-0.168,0.168-0.264,0.398-0.264,0.637V52.4
                                h-6.762C12.651,47.635,13.392,26.758,12.412,21.904z M27.927,52.4h-0.305h-6.594V18.174c1.84-0.061,5.84-0.344,7.628-1.631
                                c2.365-1.705,2.415-4.965,2.444-6.912c0.005-0.357,0.012-0.789,0.018-0.963c0.53-0.252,2.319-0.558,4.046-0.688l5.403-0.002
                                c5.41-0.279,7.218,0.836,7.819,1.529c0.263,0.303,0.358,0.596,0.391,0.807c-1.236,0.787-4.553,3.324-6.392,8.842
                                C40.412,25.08,41.459,47.42,41.721,52.4H27.927z M43.52,52.32c-0.066-1.27-0.185-3.745-0.293-6.821l4.211-0.612
                                c-0.024,0.528-0.046,0.994-0.066,1.377C47.14,50.844,44.521,52.032,43.52,52.32z"/>
                            <circle cx="24.31" cy="23.215" r="1.031"/>
                            <circle cx="24.31" cy="29.071" r="1.03"/>
                            <circle cx="24.31" cy="34.928" r="1.031"/>
                            <circle cx="24.31" cy="40.784" r="1.03"/>
                            <circle cx="24.31" cy="46.641" r="1.031"/>
                            <circle cx="29.258" cy="23.215" r="1.031"/>
                            <circle cx="29.258" cy="29.071" r="1.03"/>
                            <circle cx="29.258" cy="34.928" r="1.031"/>
                            <circle cx="29.258" cy="40.784" r="1.03"/>
                            <circle cx="29.258" cy="46.641" r="1.031"/>
                        </g>
                    </svg>

                </a>
                <a href="/menu" class="btn-ico-lat activo" title="Platos y Menús">
                    <svg version="1.1" id="Layer_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        width="100px" height="100px" viewBox="-909 226 100 100" style="enable-background:new -909 226 100 100;" xml:space="preserve">
                        <g>
                            <path d="M-861.4,226.9c-1.4,0-2.5,1.1-2.5,2.5v30.5h-8.1v-30.5c0-1.4-1.1-2.5-2.5-2.5s-2.5,1.1-2.5,2.5v30.5h-8.1v-30.5
                                c0-1.4-1.1-2.5-2.5-2.5s-2.5,1.1-2.5,2.5v42.5c0,1.4,1.1,2.5,2.5,2.5h5.6v49.3c0,1.4,1.1,2.5,2.5,2.5h10c1.4,0,2.5-1.1,2.5-2.5
                                v-49.3h5.6c1.4,0,2.5-1.1,2.5-2.5v-42.5C-858.9,228.1-860,226.9-861.4,226.9z M-872,321.2h-5v-46.8h5V321.2z M-863.9,269.4h-3.1
                                h-15h-3.1v-4.5h21.3V269.4z"/>
                            <path d="M-843.8,226.4h-5.7c-1.4,0-2.5,1.1-2.5,2.5v94.8c0,1.4,1.1,2.5,2.5,2.5h10c1.4,0,2.5-1.1,2.5-2.5v-41.3h6.7
                                c1.4,0,2.5-1.1,2.5-2.5v-37.5C-827.8,233.6-835,226.4-843.8,226.4z M-842,321.2h-5v-38.8h5V321.2z M-832.8,277.4h-4.2h-10v-46h3.2
                                c6.1,0,11,4.9,11,11V277.4z"/>
                        </g>
                    </svg>
                </a>
                <a href="/inventario" class="btn-ico-lat" title="Inventario">
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="0 0 490 490" style="enable-background:new 0 0 490 490;" xml:space="preserve">
                        <g>
                            <path d="M477.613,48.032l-42.378,30.895v303.914H0v21.035h35.916c-2.671,5.231-4.178,11.15-4.178,17.415
                                c0,21.199,17.255,38.45,38.455,38.45c21.199,0,38.444-17.251,38.444-38.45c0-6.265-1.507-12.184-4.176-17.415h236.834
                                c-2.671,5.231-4.178,11.15-4.178,17.415c0,21.199,17.255,38.45,38.454,38.45c21.2,0,38.455-17.251,38.455-38.45
                                c0-6.265-1.508-12.184-4.178-17.415h46.423V89.619L490,65.031L477.613,48.032z M87.602,421.292c0,9.603-7.805,17.415-17.409,17.415
                                c-9.604,0-17.42-7.811-17.42-17.415c0-9.604,7.817-17.415,17.42-17.415C79.797,403.877,87.602,411.688,87.602,421.292z
                                M392.99,421.292c0,9.603-7.817,17.415-17.42,17.415c-9.604,0-17.419-7.811-17.419-17.415c0-9.604,7.815-17.415,17.419-17.415
                                C385.174,403.877,392.99,411.688,392.99,421.292z"/>
                            <path d="M386.088,175.409H222.389v161.465h163.699V175.409z M365.053,315.839H243.424V196.444h121.629V315.839z"/>
                            <path d="M366.05,30.258H242.427v118.928H366.05V30.258z M345.015,128.151h-81.553V51.293h81.553V128.151z"/>
                            <path d="M195.438,175.409h-163.7v161.465h163.7V175.409z M174.403,315.839H52.773V196.444h121.63V315.839z"/>
                        </g>
                    </svg>

                </a>
                <a href="/salir" class="btn-ico-lat" title="Cerrar Sesión">
                    <svg height="30" viewBox="0 0 30 30" width="30" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.5 0C7.678 0 7 .678 7 1.5v6c0 .665 1 .67 1 0v-6c0-.286.214-.5.5-.5h20c.286 0 .5.214.5.5v27c0 .286-.214.5-.5.5h-20c-.286 0-.5-.214-.5-.5v-7c0-.66-1-.654-1 0v7c0 .822.678 1.5 1.5 1.5h20c.822 0 1.5-.678 1.5-1.5v-27c0-.822-.678-1.5-1.5-1.5zm-4 19c.45 0 .643-.563.354-.854L1.207 14.5l3.647-3.646c.442-.426-.254-1.16-.708-.708l-4 4c-.195.196-.195.512 0 .708l4 4c.095.097.22.146.354.146zm13-4h-14c-.277 0-.5-.223-.5-.5s.223-.5.5-.5h14c.277 0 .5.223.5.5s-.223.5-.5.5z"/>
                    </svg>
                </a>
            </nav>
            <a href="/codigo" id="firma_codigo_lat">
                <figure id="ico_codigo">
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            width="25px" height="25px" viewBox="0 0 522.468 522.469" style="enable-background:new 0 0 522.468 522.469;"
                            xml:space="preserve">
                        <g>
                            <g>
                                <path d="M325.762,70.513l-17.706-4.854c-2.279-0.76-4.524-0.521-6.707,0.715c-2.19,1.237-3.669,3.094-4.429,5.568L190.426,440.53
                                    c-0.76,2.475-0.522,4.809,0.715,6.995c1.237,2.19,3.09,3.665,5.568,4.425l17.701,4.856c2.284,0.766,4.521,0.526,6.71-0.712
                                    c2.19-1.243,3.666-3.094,4.425-5.564L332.042,81.936c0.759-2.474,0.523-4.808-0.716-6.999
                                    C330.088,72.747,328.237,71.272,325.762,70.513z"/>
                                <path d="M166.167,142.465c0-2.474-0.953-4.665-2.856-6.567l-14.277-14.276c-1.903-1.903-4.093-2.857-6.567-2.857
                                    s-4.665,0.955-6.567,2.857L2.856,254.666C0.95,256.569,0,258.759,0,261.233c0,2.474,0.953,4.664,2.856,6.566l133.043,133.044
                                    c1.902,1.906,4.089,2.854,6.567,2.854s4.665-0.951,6.567-2.854l14.277-14.268c1.903-1.902,2.856-4.093,2.856-6.57
                                    c0-2.471-0.953-4.661-2.856-6.563L51.107,261.233l112.204-112.201C165.217,147.13,166.167,144.939,166.167,142.465z"/>
                                <path d="M519.614,254.663L386.567,121.619c-1.902-1.902-4.093-2.857-6.563-2.857c-2.478,0-4.661,0.955-6.57,2.857l-14.271,14.275
                                    c-1.902,1.903-2.851,4.09-2.851,6.567s0.948,4.665,2.851,6.567l112.206,112.204L359.163,373.442
                                    c-1.902,1.902-2.851,4.093-2.851,6.563c0,2.478,0.948,4.668,2.851,6.57l14.271,14.268c1.909,1.906,4.093,2.854,6.57,2.854
                                    c2.471,0,4.661-0.951,6.563-2.854L519.614,267.8c1.903-1.902,2.854-4.096,2.854-6.57
                                    C522.468,258.755,521.517,256.565,519.614,254.663z"/>
                            </g>
                        </g>
                    </svg>
                </figure>
            </a>
        </aside>
        <section id="cont_derecho_contenido">
            <header id="cabezote_seccion_ppal">
                <svg id="btn_menu_movil" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor">
                    <path d="M224,128a8,8,0,0,1-8,8H40a8,8,0,0,1,0-16H216A8,8,0,0,1,224,128ZM40,72H216a8,8,0,0,0,0-16H40a8,8,0,0,0,0,16ZM216,184H40a8,8,0,0,0,0,16H216a8,8,0,0,0,0-16Z"/>
                </svg>
                <h2 id="titulo_vista_ppal">Platos y Menús</h2>
                <a href="busqueda.html" id="btn_cerrar_vista" title="Buscar">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor">
                        <path d="M229.66,218.34l-50.07-50.06a88.11,88.11,0,1,0-11.31,11.31l50.06,50.07a8,8,0,0,0,11.32-11.32ZM40,112a72,72,0,1,1,72,72A72.08,72.08,0,0,1,40,112Z"/>
                    </svg>
                </a>
            </header>
            <nav id="nav_pestanas_ppal">
                <a href="#" id="btn_atras_pesta" class="btn-ico-nav" title="Volver">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor">
                        <path d="M224,128a8,8,0,0,1-8,8H59.31l58.35,58.34a8,8,0,0,1-11.32,11.32l-72-72a8,8,0,0,1,0-11.32l72-72a8,8,0,0,1,11.32,11.32L59.31,120H216A8,8,0,0,1,224,128Z"/>
                    </svg>
                </a>
                <div id="cont_selector_pestanas">
                    <button type="button" id="pesta_platos" class="btn-pestana activa">Platos</button>
                    <div class="linea_vert_pesta"></div>
                    <button type="button" id="pesta_menu" class="btn-pestana">Menú</button>
                </div>
                <div id="cont_acciones_pestanas">
                    <a href="/busqueda" id="btn_buscar_pesta" class="btn-ico-nav" title="Buscar">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor">
                            <path d="M229.66,218.34l-50.07-50.06a88.11,88.11,0,1,0-11.31,11.31l50.06,50.07a8,8,0,0,0,11.32-11.32ZM40,112a72,72,0,1,1,72,72A72.08,72.08,0,0,1,40,112Z"/>
                        </svg>
                    </a>
                </div>
            </nav>
            <div id="grid_dos_columnas">
                <section id="sec_col_platos" class="columna-vista visible">
                    <div class="header-columna-pc">
                        <h3 class="subtitulo-col-pc">Platos</h3>
                        <div class="linea-separadora-header"></div>
                    </div>
                    <div class="cont-scroll-interno">
                        <article class="lista-tarjetas-grid">
                            <a href="/detalle_plato.html" class="tarjeta-plato">
                                <figure class="foto-plato">
                                    <img src="imagenes/rata.jfif" alt="Ratatouille">
                                </figure>
                                <div class="info-plato">
                                    <h3 class="nombre-plato letra-azul-dark">RATATOUILLE</h3>
                                    <p class="desc-plato">Platillo francés "Ratatouille" con capas de berenjena, calabacín y tomate sobre salsa de tomate y albahaca, acompañado por un caldo...</p>
                                    <p class="meta-plato">Categoría: <strong>Plato Fuerte</strong></p>
                                    <p class="meta-plato">Fecha creación: <strong>20/05/26</strong></p>
                                </div>
                            </a>
                            <a href="/plato/ratatouille-2" class="tarjeta-plato">
                                <figure class="foto-plato">
                                    <img src="imagenes/rata.jfif" alt="Ratatouille">
                                </figure>
                                <div class="info-plato">
                                    <h3 class="nombre-plato letra-azul-dark">RATATOUILLE</h3>
                                    <p class="desc-plato">Platillo francés "Ratatouille" con capas de berenjena, calabacín y tomate sobre salsa de tomate y albahaca, acompañado por un caldo...</p>
                                    <p class="meta-plato">Categoría: <strong>Plato Fuerte</strong></p>
                                    <p class="meta-plato">Fecha creación: <strong>20/05/26</strong></p>
                                </div>
                            </a>
                            <a href="/plato/empanada" class="tarjeta-plato">
                                <figure class="foto-plato">
                                    <img src="imagenes/empanada.jfif" alt="Empanada">
                                </figure>
                                <div class="info-plato">
                                    <h3 class="nombre-plato letra-azul-dark">EMPANADA</h3>
                                    <p class="desc-plato">La empanada colombiana es un bocadillo típico hecho con...</p>
                                    <p class="meta-plato">Categoría: <strong>Plato Fuerte</strong></p>
                                    <p class="meta-plato">Fecha creación: <strong>20/05/26</strong></p>
                                </div>
                            </a>
                            <a href="/plato/jugo-papaya" class="tarjeta-plato">
                                <figure class="foto-plato">
                                    <img src="imagenes/papaya.jpg" alt="Jugo de Papaya">
                                </figure>
                                <div class="info-plato">
                                    <h3 class="nombre-plato letra-azul-dark">JUGO DE PAPAYA</h3>
                                    <p class="desc-plato">Es una bebida refrescante y tropical, elaborada con la...</p>
                                    <p class="meta-plato">Categoría: <strong>Bebida</strong></p>
                                    <p class="meta-plato">Fecha creación: <strong>20/05/26</strong></p>
                                </div>
                            </a>
                        </article>
                    </div>
                    <a href="/crear_plato.html" class="btn-agregar-flotante fondo-verde letra-blanca" title="Agregar plato">
                        <svg viewBox="0 0 256 256" fill="currentColor">
                            <path d="M224,128a8,8,0,0,1-8,8H136v80a8,8,0,0,1-16,0V136H40a8,8,0,0,1,0-16h80V40a8,8,0,0,1,16,0v80h80A8,8,0,0,1,224,128Z"/>
                        </svg>
                        <span class="texto-btn-pc">Agregar plato</span>
                    </a>
                </section>
                <section id="sec_col_menu" class="columna-vista oculto-movil">
                    <div class="header-columna-pc">
                        <h3 class="subtitulo-col-pc">Menú</h3>
                        <div class="linea-separadora-header"></div>
                    </div>
                    <div class="cont-scroll-interno">
                        <article class="lista-tarjetas-grid grid-menu-pc">
                            <a href="/detalle_menu.html" class="tarjeta-menu-compuesta">
                                <div class="mosaico-imagenes-menu">
                                    <figure class="img-menu-ppal">
                                        <img src="imagenes/rata.jfif" alt="Ratatouille">
                                    </figure>
                                    <figure class="img-menu-sec">
                                        <img src="imagenes/papaya.jpg" alt="Jugo Papaya">
                                    </figure>
                                    <figure class="img-menu-sec">
                                        <img src="imagenes/leches.jfif" alt="Brownie / Postre">
                                    </figure>
                                    <figure class="img-menu-sec img-ancho-completo">
                                        <img src="imagenes/empanada.jfif" alt="Empanadas">
                                    </figure>
                                </div>
                                <div class="info-tarjeta-menu">
                                    <h4 class="titulo-menu letra-negro">Titulo Menú</h4>
                                    <span class="precio-menu letra-verde">$88.888</span>
                                </div>
                            </a>
                            <a href="/detalle_menu.html" class="tarjeta-menu-compuesta">
                                <div class="mosaico-imagenes-menu">
                                    <figure class="img-menu-ppal">
                                        <img src="imagenes/rata.jfif" alt="Goulash de Carne">
                                    </figure>
                                    <figure class="img-menu-sec">
                                        <img src="imagenes/papaya.jpg" alt="Café">
                                    </figure>
                                    <figure class="img-menu-sec">
                                        <img src="imagenes/leches.jfif" alt="Flan">
                                    </figure>
                                </div>
                                <div class="info-tarjeta-menu">
                                    <h4 class="titulo-menu letra-negro">Titulo Menú</h4>
                                    <span class="precio-menu letra-verde">$88.888</span>
                                </div>
                            </a>
                        </article>
                    </div>
                    <a href="/crear_menu.html" class="btn-agregar-flotante fondo-verde letra-blanca" title="Agregar Menú">
                        <svg viewBox="0 0 256 256" fill="currentColor">
                            <path d="M224,128a8,8,0,0,1-8,8H136v80a8,8,0,0,1-16,0V136H40a8,8,0,0,1,0-16h80V40a8,8,0,0,1,16,0v80h80A8,8,0,0,1,224,128Z"/>
                        </svg>
                        <span class="texto-btn-pc">Agregar menú</span>
                    </a>
                </section>
            </div>
        </section>
    </main>
</body>
</html>